
body {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Make the body full height */
  margin: 0; /* Remove default margin */
  font-family:Verdana, Geneva, Tahoma, sans-serif; /* Set a default font family */
}

.clock-container {
  text-align: center; /* Center the text inside the clock container */
  padding: 20px; /* Add some padding around the clock */
  border-radius: 10px; /* Round the corners of the clock */
 
}

.clock {
  font-size: 100px; /* Set the font size for the clock */
  font-weight: bold; /* Make the text bold */
  color: hsl(0, 0%, 100%); /* Set a text color */
  
}
